body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
}

.container {
    width: 960px;
    margin: auto;
}

header {
    height: 50px;
    padding: 5px 25px;
    border-bottom: solid #ccc 1px;
}

header h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    padding-top: 5px;
}

header .subheading {
    float: right;
    padding-top: 20px;
}

section.main {
    padding: 10px 25px;
}

footer {
    font-size: 0.65em;
    padding: 5px 25px;
    height: 12px;
    border-top: solid #ccc 1px;
}

footer .blurb {
    float: right;
    padding-top: 2px;
}

.suite {
    /*border-bottom: solid #d8d8d8 1px;*/
    margin-bottom: 10px;
    font-weight: bold;
}

.test {
    display: inline-block;
    width: 428px;
    height: 20px;
    padding: 10px;
    margin: 1px;
    margin-bottom: 5px;
    border: solid #ccc 1px;
    border-radius: 7px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px #f0f0f0;
    font-size: 0.75em;
}

.test label input {
    position: relative;
    top: 2px;
    padding-right: 5px;
}

.test .result {
    float: right;
    border: solid #ccc 1px;
    border-radius: 15px;
    width: 75px;
    height: 18px;
    padding-top: 4px;
    text-align: center;
}

.none {
    background-color: #eee;
    color: black;
}

.pass {
    background-color: green;
    color: white;
}

.fail {
    background-color: red;
    color: white;
}